

    <div class="card text-center" id="addpostform">
  <div class="card-header">
   <input  class="form-control" name="post-title" id="title" placeholder="Title">
  </div>
  <div class="card-body">
    <textarea class="form-control" id="post" name="content" rows="3" placeholder="Post"></textarea>
  </div>
  <div class="col-auto">
  <button id="submit-btn" type="submit" class="btn btn-dark mb-3">submit</button>
  </div>

<script src="/js/addpost.js"></script>






