
  <div class="card text-center">
  <div class="card-header">
   {{title}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post}}</p>
  </div>
  <div class="card-footer text-muted">
    User Id: {{user_id}}
    <br>
    Created at: {{createdAt}}
  </div>
   <div class="col-auto">
  <button id="submit-btn" type="submit" class="btn btn-dark mb-3">Add Comment</button>
  </div>
</div>
<br>
