
    <div class="card text-center">
  <div class="card-header">
   {{title}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post}}</p>
  </div>
  <div class="card-footer text-muted">
    User Id: {{user_id}}
    <br>
    Created at: {{createdAt}}
  </div>
</div>
<br>