
<section class="vh-100" style="background-color: #83505c;">

 <h5 class="title" id="newpost">Create new Post:</h5>
  <br>
  <form class="card text-center" id="addpostform">
  <div class="card-header">
   <input  class="form-control" name="post-title" id="title" placeholder="Title here..">
  </div>
  <div class="card-body">
    <textarea class="form-control" id="post" name="content" rows="3" placeholder="Post content here.."></textarea>
  </div>
  <div class="col-auto">
  <button id="submit-btn" type="submit" class="btn btn-dark mb-3">submit</button>
  </div>
  </form>
</section>

<script src="/js/addpost.js"></script>






