  <section class="vh-100" style="background-color: #83505c;">
<form>
  <input class="form-control" type="text" placeholder="title">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="button is-primary" id="postform">Create post</button>
</form>

<script src="/js/create.js"></script>