<section class="vh-100" style="background-color: #83505c;">
 
<form>

 <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 12px;">
          <div class="row">

<h6>Sign into your account</h6>
<br>
{{!-- email --}}
 <div class="mb-3">
  <label for="email-login" class="form-label">Email address</label>
  <input type="email" class="form-control" id="elogin" placeholder="name@example.com">
 </div>
 {{!-- password --}}
 <div class="mb-3">
  <label for="password-login" class="form-label">Password</label>
  <input type="password" class="form-control" id="plogin" placeholder="enter password here">
 </div>
{{!-- login button --}}
<div class="pt-1 mb-3">
<button class="btn btn-dark btn-md btn-block" id="loginform" type="submit">Login</button>
</div>
{{!-- signup --}}
<p class="mb-5 pb-lg-2" style="color: #17181b;">Don't have an account? <a href="/signup" style="color: #17181b;">SignUp here</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

</section>

<script src="/js/login.js"></script>
