<section class="vh-100" style="background-color: #83505c;">
 
<form>
  <div class="form-group">
  <label for="exampleInputName1">Username</label>
  <input type="name" class="form-control" id="namelogin" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="elogin" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="plogin" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" id="signupform">Sign Up</button>

{{!-- Login --}}
<p class="mb-5 pb-lg-2" style="color: #17181b;">Already have an account? <a href="/login" style="color: #17181b;">Login here</a></p>
</form>

</section>

<script src="/js/signup.js"></script>
